




<div class="container">
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NUTS&SPICES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" aria-disabled="true" routerLink="Admin">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" aria-disabled="true" routerLink="Admin">NUTS</a></li>
              <li><a class="dropdown-item" href="#">SPICES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">DRY FRUITS</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item p-md-1">
            <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#AboutUsmodal" aria-current="page" href="#">ABOUT US</a>
          </li>
          <li class="d-flex nav-item p-md-1">
            <a class="nav-link active rounded m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" aria-current="page" href="#">CONTACT US</a>
          </li>
          </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>




<div>
  <router-outlet></router-outlet>
</div>


<div class="container">
     <div class="row">
     <div class="card m-1" style="width: 18rem;" *ngFor="let abc of results">
    <img src={{abc.ProductImage}} class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">{{abc.ProductName}}</h5>
    <p class="card-text">{{abc.ProductDetails}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
     </div>

    </div>
    <div>
      <a mat-button href="https://wa.me/7288942322" target="_blank">Chat with us on WhatsApp</a>
      <a mat-button href="sms:+917288942322?body=Hello%20from%20my%20website" target="_blank">Send SMS</a>

    </div>
</div>


<!-- 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">CONTACT INFORMATION</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Phone Number :1234567899</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="AboutUsmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ABOUT US</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-wrap">
        <p>content adout us</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>
   

  










